.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.input {
    height: 40px;
    width: 50%;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
    margin: 10px;
}

.input:focus {
    outline: none;
}

.select {
    height: 40px;
    width: 50%;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
    margin: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 120px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}