.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 250px;
}

.content {
    height: 100%;
    width: calc(100% - 250px);
}