:root {
	--font-family: sans-serif;

	--light-blue-primary: #3ecbc2;
	--light-blue-secondary: #28827c;

	--blue-primary: #24344b;
    --blue-secondary: #3b4f6a;

	--white: #ffffff;
	--gray: #808080;
	--light-gray: #f0f0f0;
	--black: #000000;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: var(--white);
}

::-webkit-scrollbar-thumb {
	background: var(--gray);
	border-radius: 5px;
}