.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 30px;
    justify-content: center;
    overflow-y: auto;
    height: calc(100% - 120px);
    width: 100%;
}